.recipe-fixed{

    background-color:var(--LightColor)

}

.DisplayRecipe_ShortDescription {
    padding: .5rem;
}

.DisplayRecipe_Categories{
    padding: .5rem;

}
.ul_basic{
    font-weight: 700;
}

.DisplayRecipe_ThumbNails{
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail-controller{
    display: flex;
    width: 120px;
    gap: 5px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.thumbnail-element{
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 125px;
    img {
        width: 125px;
        height: 70.5px;
        border-radius: 2px;
        }
}

.DisplayRecipe_Description{
    border-radius: 3px;
    padding:  .5rem;
    min-height: 20px;
    max-width:  65%;
    white-space: pre-wrap;
    justify-content: center;
    font-size: small;
}

.DisplayRecipe_Ingredients{
    padding: .5rem;
    white-space: pre-wrap;
}

.DisplayRecipe_Directions{
    padding: .5rem;
    max-width:  65%;
    justify-content: center;
    font-size: small;
    white-space: pre-wrap;

}

.DisplayRecipe_ServingSize{
    padding: .5rem ;
}

.DisplayRecipe_Equipment{
    padding: .5rem;
}

.DisplayRecipe_Lang {
    padding: .5rem;
}

.DisplayRecipe_yt{
    padding: .5rem;
}

._LastElement {
    padding: .5rem .5rem 10rem .5rem;
}