@import "tailwindcss";
*,
*::before
*::after {
  box-sizing: border-box ;
}

:root {
/*   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

/*   color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

/*   font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
* {
  margin: 0px;
  padding: 0px;
}

body{
  margin: 0px ;
  padding: 0px;
  background-color: whitesmoke;
}

h1{
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  text-align: center;
  font-size: 20px;
}

.luciluci { /* Ilze's font*/
  font-family: 'Lucida Handwriting Std', sans-serif;
  font-weight: 400;
  }
  

.ilzefontcolor {
    color:whitesmoke;

  }
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}
.card{
  border: 1px solid #4b5362;
  margin : 20px;
  padding : 10px;
  background-color:#cdcdcd;
  border-radius: 10px;
  min-height: 100px;
  max-width: 50%;
  justify-content: center;
  flex: wrap;
}
button{
  border: #4b5362;
  min-height: 20px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.CodeName{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  color: #4b5362;
  font-size: 10px;
  text-align: right;
}
.Home{
  border-top: 2rem;
  padding-top: 1rem;
}
banner{
  max-width: 400px;
}


.mar__seventy__w{
/*   margin-right: 10rem; */
/*   width: 70%; */
/*   margin-bottom: 220px; */
margin-right: 30%;
}

.notall{
  height: 60%;
}
.carr__mar{
  margin-top: 20%;
  align-items: center;
  margin-bottom: 5px;
}
.banner{
  width: 300px;
  height: 100%;
  border-radius: 2px;
  margin-bottom: 0px;
}
